.custom-modal .modal-content {
  background-color: #212529;
  color: white;
  border: none;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
}

.custom-modal .btn-primary {
  background-color: #007bff;
  border: none;
}

.custom-modal .btn-secondary {
  background-color: #6c757d;
  border: none;
}

.custom-modal .btn-danger {
  background-color: #dc3545;
  border: none;
}

.custom-modal .list-group-item {
  background-color: #343a40;
  color: white;
  border: 1px solid #495057;
}
